body{
    background: black;
    font-family:
    "Montserrat",
    sans-serif;
    width: 100%;
}

.navbar-default{
    background: black;
}

.pics{
    background: black;
    color: white;
    height: 100vh;
    width: 100%;
    font-size:xx-large;
    position: relative;
    padding-top: 20px;
}

.vids{
    background: black;
    color: white;
    height: 100vh;
    width: 100%;
    position: relative;
}

.texts{
    background: black;
    color: white;
    /* height: 400vh; */
    width: 100%;
    /* position: relative; */
}

.h1 {
    padding-top: 3%;
}

.carousel-item {
    transition: transform 1s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 1s;
}

.carousel.slide{
    margin: 200px;
    bottom: 20%;
}

.carousel-item img{
    height: 600px;
    /* margin-left: 200px; */
}

.carousel-item video{
    height: 600px;
    display: flex;
    justify-content: center;
}

/* @keyframes fadeIn {
    to{
        opacity: 1;
    }
} */

/* .fade-in{
    opacity: 0;
    /* animation: fadeIn 1s ease-in forwards; */
/* }  */

/* .columns{
    display: flex;
} */

/* .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

.fade-in.appear{
    opacity: 100;
} */

.leftsidetexts{
    margin-top: 20px;
}

.rightsidetexts{
    margin-top: 20px;
}

.leftsidetexts p{
    /* background: #262629; */
    background: #2b91fe;
    border-radius:15px;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:large;
}

.rightsidetexts p{
    background: #2b91fe;
    border-radius:15px;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:large;
}

.subsequenttexts{
    margin-top: 40px;
}
